.main-container {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  min-width: 900px;
  min-height: 600px;
}

.game-board {
  min-width: 600px;
  flex: 1;
}

.game-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.item {
  border: 1px solid greenyellow;
}

.sidebar-my-info {
  height: 140px;
}

.sidebar-cell-info {
  height: 190px;
}

.sidebar-chat {
  min-height: 300px;
  flex: 1;
}

.game-status {
  flex: 1 1 auto;
}

.spacer {
  text-align: right;
  flex: 1 1 auto;
}

app-my-info {
  min-height: 150px;
}