<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="appMenu">
    메뉴
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
</mat-toolbar>

<button mat-button color="primary" (click)="goHome()">홈으로</button>

<div class="container">
  <div class="box-row">
    <div class="box-col">
      <div class="item">one</div>
      <div class="item">two</div>
      <div class="item">three</div>
    </div>
    <div class="box-col">
      <div class="item">one</div>
      <div class="item">two</div>
    </div>
    <div class="box-col">
      <div class="item">one</div>
      <div class="item">two</div>
      <div class="item">three</div>
      <div class="item">four/div>
      </div>
    </div>
</div>
